[alias]
  br = branch
  ca = commit --amend
  cm = commit -m
  co = checkout
  uncommit = reset --soft HEAD^
  fa = fetch --all
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgns = log --name-status
  st = status
[commit]
  gpgsign = false	
  template = ~/.gitmessage
[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = delta
[diff]
  colorMoved = default
[merge]
  ff = only
  conflictstyle = diff3
[pull]
  ff = only
[delta]
  light = true 
  side-by-side = true
  navigate = true
[interactive]
    diffFilter = delta --color-only
[pager]
    diff = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta
[user]
  email = joannaakl@github.com
  name = Joanna Krzek-Lubowiecka
