[alias]
  	br = branch
  	ca = commit --amend
  	cm = commit -m
	co = checkout
	cp = cherry-pick
  	uncommit = reset --soft HEAD^
  	fa = fetch --all
  	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  	lgns = log --name-status
 	st = status
[commit]
  	template = ~/.gitmessage
[core]
	editor = vi
  	excludesfile = ~/.gitignore
[diff]
  	colorMoved = default
[merge]
  	ff = only
  	conflictstyle = diff3
[pull]
  	ff = only
[user]
  	email = joannaakl@github.com
  	name = JoannaaKL
